<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876282652641-qbeuuu31l378f06f6h3ih40ahmmb0ju1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876282652641-qbeuuu31l378f06f6h3ih40ahmmb0ju1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876282652641-aqsqkn8m5sfn24gtq1bcd7ulobbtkvbl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZKL_VZm2y_7dUcGm5cDSOrpM04NF6J4w</string>
	<key>GCM_SENDER_ID</key>
	<string>876282652641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my-kitchen</string>
	<key>PROJECT_ID</key>
	<string>my-kitchen-b1642</string>
	<key>STORAGE_BUCKET</key>
	<string>my-kitchen-b1642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876282652641:ios:63c8a70f6b10e551f354a0</string>
</dict>
</plist>